{% extends "base.html.twig" %}
{% block title %}page d'ajout{% endblock %}
{% block body %}   
     <h6>votre candidature a été ajoutée avec succès</h6>
     <a href="candidature">Voir table des candidatures</a>
{% endblock %}