{% extends "base.html.twig" %}
{% block title %}ajouter demande de congé{% endblock %}
{% block body %}
<section class="cadre" style="margin:auto; background:white; width: 700px; box-shadow: 0 6px 15px rgb(241, 203, 255) !important; transition: box-shadow 0.2s;">
    <h1 class="font-bold text-center mb-4" style="color:rgba(25, 10, 228, 0.35);">Ajouter une demande de congé</h1>
    
    <form action="ajouterDemandeConge" method="post">  
     <div class="text-center mb-4">
        <label for="typeConge" class="input-form">Type de congé:</label>
        <input id="typeConge" type="text" name="typeConge" placeholder="Veuillez entrer le type du congé" required
               class="input text-center px-4 py-2 border border-gray-300 rounded">
      </div>

      <div class="text-center mb-4">
        <label for="dateDebut" class="input-form">Date début:</label>
        <input id="dateDebut" type="date" name="dateDebut" placeholder="Veuillez entrer la date du début du congé" required
               class="input text-center px-4 py-2 border border-gray-300 rounded">
      </div>

      <div class="text-center mb-4">
        <label for="dateFin" class="input-form">Date fin:</label>
        <input id="dateFin" type="date" name="dateFin" placeholder="Veuillez entrer la date de fin du congé" required
               class="input text-center px-4 py-2 border border-gray-300 rounded">
      </div>

      <div class="text-center mb-4">
        <label for="statut" class="input-form">Statut:</label>
        <input id="statut" type="text" name="statut" placeholder="Veuillez entrer le statut du congé" required
               class="input text-center px-4 py-2 border border-gray-300 rounded">
      </div>

      <div class="text-center mb-4">
        <label for="employe" class="input-form">Employé:</label>
        <select name="employe" id="employe" required class="input text-center px-4 py-2 border border-gray-300 rounded">
            {% for employe in employes %} 
                <option value="{{ employe.id }}">{{ employe.nom }} {{ employe.prenom }}</option>
            {% endfor %}
        </select>
      </div>

      <div class="text-center"> 
        <button class="btn-submit border border-gray-300 rounded" type="submit">Ajouter</button>
      </div>
    </form>
  </section>
{% endblock %}