{% extends "base.html.twig" %}
{% block title %}page d'ajout{% endblock %}
{% block body %}   
     <h6>votre demande de congé a été ajoutée avec succès</h6>
     <a href="demandeConge">Voir table des demandes de congés</a>
{% endblock %}