{% extends "base.html.twig" %}
{% block title %}ajouter employé{% endblock %}
{% block body %}
<section class="cadre" style="margin:auto; background:white; width: 700px; box-shadow: 0 6px 15px rgb(241, 203, 255) !important; transition: box-shadow 0.2s;">
  <h1 class="font-bold text-center mb-4" style="color:rgba(25, 10, 228, 0.35);">Ajouter un employé</h1>
  
  <div class="form-aligner">
    <form action="ajoutEmploye" method="post">  
     <div class="text-center mb-4">
        <label for="nom" class="input-form">Nom:</label>
        <input id="nom" type="text" name="nom" placeholder="Veuillez entrer le nom de l'employé" required
               class="input text-center px-4 py-2 border border-gray-300 rounded">
      </div>

      <div class="text-center mb-4">
        <label for="prenom" class="input-form">Prénom:</label>
        <input id="prenom" type="text" name="prenom" placeholder="Veuillez entrer le prénom de l'employé" required
               class="input text-center px-4 py-2 border border-gray-300 rounded">
      </div>

      <div class="text-center mb-4">
        <label for="email" class="input-form">Email:</label>
        <input id="email" type="email" name="email" placeholder="Veuillez entrer l'email de l'employé" required
               class="input text-center px-4 py-2 border border-gray-300 rounded">
      </div>

      <div class="text-center mb-4">
        <label for="poste" class="input-form">Poste:</label>
        <input id="poste" type="text" name="poste" placeholder="Veuillez entrer le poste de l'employé" required
               class="input text-center px-4 py-2 border border-gray-300 rounded">
      </div>

      <div class="text-center mb-4">
        <label for="salaire" class="input-form">Salaire:</label>
        <input id="salaire" type="text" name="salaire" placeholder="Veuillez entrer le salaire de l'employé" pattern="^\d+(\.\d{1,2})?$" required
               class="input text-center px-4 py-2 border border-gray-300 rounded">
      </div>

      <div class="text-center mb-4">
        <label for="date" class="input-form">Date d'embauche:</label>
        <input id="date" type="date" name="date" required
               class="input text-center px-4 py-2 border border-gray-300 rounded">
      </div>

      <div class="text-center"> 
        <button class="btn-submit border border-gray-300 rounded" type="submit">Ajouter</button>
      </div>
    </form>
  </div>
</section>

{% endblock %}