{% extends "base.html.twig" %}
{% block title %}ajouter contrat{% endblock %}
{% block body %}
<section class="cadre" style="margin:auto; background:white; width: 700px; box-shadow: 0 6px 15px rgb(241, 203, 255) !important; transition: box-shadow 0.2s;">
    <h1 class="font-bold text-center" style="color:rgba(157, 195, 255, 0.82);">Ajouter un contrat</h1>
    
    <form action="ajouterContrat" method="post">  
     <div class="text-center mb-4">
        <label for="type" class="input-form">Type:</label>
        <input id="type" type="text" name="type" placeholder="Veuillez entrer le type de contrat" required
               class="input text-center px-4 py-2 border border-gray-300 rounded">
      </div>

      <div class="text-center mb-4">
        <label for="dateDebut" class="input-form">Date début:</label>
        <input id="dateDebut" type="date" name="dateDebut" placeholder="Veuillez entrer la date du début de contrat" required
               class="input text-center px-4 py-2 border border-gray-300 rounded">
      </div>

      <div class="text-center mb-4">
        <label for="dateFin" class="input-form">Date fin:</label>
        <input id="dateFin" type="date" name="dateFin" placeholder="Veuillez entrer la date de fin du contrat" required
               class="input text-center px-4 py-2 border border-gray-300 rounded">
      </div>

      <div class="text-center mb-4">
        <label for="salaire" class="input-form">Salaire:</label>
        <input id="salaire" type="text" name="salaire" placeholder="Veuillez entrer le salaire de l'employé" pattern="^\d+(\.\d{1,2})?$" required
               class="input text-center px-4 py-2 border border-gray-300 rounded">
      </div>

      <div class="text-center mb-4">
        <label for="employe" class="input-form">Employé:</label>
        <select name="employe" id="employe" required class="input text-center px-4 py-2 border border-gray-300 rounded">
            {% for employe in employes %} 
                <option value="{{ employe.id }}">{{ employe.nom }} {{ employe.prenom }}</option>
            {% endfor %}
        </select>
      </div>

      <div class="text-center"> 
        <button class="btn-ajouter border border-gray-300 rounded" type="submit">Ajouter</button>
      </div>
    </form>
  </section>
{% endblock %}