{% extends "base.html.twig" %}
{% block title %}page d'ajout{% endblock %}
{% block body %}   
     <h6>votre employé a été ajouté avec succès</h6>
     <a href="employe">Voir table des employés</a>
{% endblock %}