{% extends "base.html.twig" %}
{% block title %}ajouter candidature{% endblock %}
{% block body %}
<section class="cadre" style="margin:auto; background:white; width: 700px; box-shadow: 0 6px 15px rgb(241, 203, 255) !important; transition: box-shadow 0.2s;">
    <h1 class="font-bold text-center mb-4" style="color:rgba(25, 10, 228, 0.35);">Ajouter une candidature</h1>
    
    <form action="ajouterCandidature" method="post">  
     <div class="text-center mb-4">
        <label for="poste" class="input-form">Poste:</label>
        <input id="poste" type="text" name="poste" placeholder="Veuillez entrer le poste de candidature" required
               class="input text-center px-4 py-2 border border-gray-300 rounded">
      </div>

      <div class="text-center mb-4">
        <label for="candidatNom" class="input-form">Nom du candidat:</label>
        <input id="candidatNom" type="text" name="candidatNom" placeholder="Veuillez entrer le nom du candidat" required
               class="input text-center px-4 py-2 border border-gray-300 rounded">
      </div>

      <div class="text-center mb-4">
        <label for="email" class="input-form">Email:</label>
        <input id="email" type="email" name="email" placeholder="Veuillez entrer l'email du candidat" required
               class="input text-center px-4 py-2 border border-gray-300 rounded">
      </div>

      <div class="text-center mb-4">
        <label for="statut" class="input-form">Statut:</label>
        <input id="statut" type="text" name="statut" placeholder="Veuillez entrer le statut de la candidature" required
               class="input text-center px-4 py-2 border border-gray-300 rounded">
      </div>

      <div class="text-center"> 
        <button class="btn-submit border border-gray-300 rounded" type="submit">Ajouter</button>
      </div>
    </form>
  </section>
{% endblock %}